<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <nav> 
                      <a th:href="@{/index}">Página Inicial</a> 
                      <a th:href="@{/cadastro}">Cadastrar Filme</a> 
                      <a th:href="@{/lista}">Lista de Filmes</a>
                   </nav> 
    </body>
</html>
